h3 {
    font-size: 160%;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    word-wrap: normal;
}
@media screen and (min-width: 0) and (max-width: 47.99em) {
h3, .h3 {
    font-size: 150%;
}
}
div.field-item ul, div.field-item ol {
    clear: left;
}
html {
    background: #284666 url('http://dev.websop.es/sites/dev.websop.es/libraries/site_under_construction_templates/ws-landing-reveal/img/showcase-bg-fixed-01.jpg') no-repeat fixed center center / cover;
}
body.page-admin.admin-menu.adminimal-menu {
    margin-top: 29px !important;
}

body.color-palette-maillot-jaune .l-page-wrapper, body.color-palette-caribe .l-page-wrapper, body.color-palette-chartreuse .l-page-wrapper, body.color-palette-mediterranean-red .l-page-wrapper {
    background-color: rgba(0,0,0,0);
}

body.color-palette-maillot-jaune, body.color-palette-caribe, body.color-palette-chartreuse, body.color-palette-mediterranean-red {
    background-color: rgba(0,0,0,0);
}

.l-header-wrapper {
    background-color: rgba(0,0,0,0);
}

body.color-palette-maillot-jaune .l-footer-wrapper, body.color-palette-caribe .l-footer-wrapper, body.color-palette-chartreuse .l-footer-wrapper, body.color-palette-mediterranean-red .l-footer-wrapper {
    background-color: rgba(0,0,0,0);
}

body.admin-menu.adminimal-menu {
    margin-top: 29px !important;
}

body.admin-menu.adminimal-menu::before {
    height: 0;
}

/* Social media links alignement */
.front .pane-social-media-link-widget, .front .pane-node-links {
    text-align: right;
}

/* Hidde active language switcher */
.language-switcher-locale-url .active {
    display: none;
}

// MENU

.color-palette-caribe .l-menu-wrapper {
    background-color: rgba(240,248,255,0);
}


@media screen and (min-width: 60.01em) {

.color-palette-caribe .l-menu-wrapper {
    background-color: rgba(240,248,255,0.35) !important;
}
.color-palette-caribe .l-off-canvas--left {
    background-color: rgba(240, 248, 255, 0) !important;
}

body.color-palette-maillot-jaune .main-menu-wrapper > ul > li > a, body.color-palette-caribe .main-menu-wrapper > ul > li > a, body.color-palette-chartreuse .main-menu-wrapper > ul > li > a, body.color-palette-mediterranean-red .main-menu-wrapper > ul > li > a {
    color: #333;
    font-weight: bold;
}
}

@media screen and (min-width: 40.01em) {
span.field.field-name-field-image.field-type-image.field-label-hidden {
    float: left;
    margin-right: 1em;
    max-width: 50%;
  }
}
